{% extends 'main_account/home/base.html' %}

{% load static %}


{% block title %}
<title>Contact Us - Zollartrade Investment</title>
{% endblock title %}

{% block content %}


    
    <!-- inner hero start -->
    <section class="inner-hero bg_img" data-background=" {% static 'main_account/assets/images/hero1.jpg' %} ">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="page-title">Contact Us</h2>
            <ul class="page-breadcrumb">
              <li><a href=" {% url 'home' %}">Home</a></li>
              <li>contact</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- inner hero end -->
                       
                           
 <section class="pt-120 pb-120">
      <div class="container">
        <div class="contact-wrapper">
          <div class="row">
              <div>
                  

              </div>
              
              
            <div class="col-lg-6 contact-thumb bg_img" data-background=" {% static 'main_account/assets/images/5fce3cf364ca21607351539.jpg' %} "></div>
            <div class="col-lg-6 contact-form-wrapper">
              <h2 class="font-weight-bold mb-2">Contact With Us</h2>
              <p class="font-weight-bold">If you have any questions or queries that are not answered on our website, please feel free to contact us. We will try to respond to you as soon as possible. Thank you so much.</p>
              
              
              <div class="contact-form mt-4" id="callback">

                <form method="post">
                  {% csrf_token %}
              
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input name="fullname" id="name" size="30" placeholder="Full Name *" class="form-control">
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="text" name="email" id="email" value="" size="30" placeholder="Email" class="form-control">
                  </div>
                  <div class="form-group col-lg-12">
                    <input name="phone" id="phone" placeholder="Phone Number *" class="form-control">
                  </div>
                  <div class="form-group col-lg-12">
                    	<textarea name="message" placeholder="Messages *" id="message" class="txtarea form-control"></textarea>
                  </div>
                  <div class="col-lg-12">
                    <button type="submit" class="cmn-btn">Send Message</button>
                  </div>

               
                </div>
              </form>
            </div>
              
                          </div>
      
          </div>
        </div><!-- contact-wrapper end -->
      </div>
      <div class="container pt-120">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="row mb-none-30">
                <div class="col-md-6 col-sm-6 mb-30">
                <div class="contact-item">
                  <i class="las la-envelope-open"></i>                  
                  <h5 class="mt-2">Email Address</h5>
                  <div class="mt-4">
                    <p><a href="mailto:support@empire-trust.com">contact@zollartrade.com</a></p>
                  </div>
                </div><!-- contact-item end -->
              </div>
              
              <div class="col-md-6 col-sm-6 mb-30">
                <div class="contact-item">
                  <i class="las la-map-marker-alt"></i><h5 class="mt-2">Office Address</h5>
                  <div class="mt-4">
                    <p>53: 439469, Birmingham District
                      Birmingham,
                      United Kingdom</p>
                  </div>
                </div><!-- contact-item end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    
    

  
  <!--<section class="pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="subscribe-wrapper bg_img"
            data-background="assets2/images/frontend/subscribe/5fce3af5a116f1607351029.jpg">
            <div class="row align-items-center">
              <div class="col-lg-5">
                <h2 class="title">Subscribe Our Newsletter</h2>
              </div>
              <div class="col-lg-7 mt-lg-0 mt-4">
                <form class="subscribe-form" method="post"><input type="hidden" name="form_id" value="16717128325118"><input type="hidden" name="form_token" value="61cf73af8d4e73301ee87c12fbd2c520">
                  <input type="hidden" name="_token" value="hM0LQfbyt9KAXK5f6rZ5o6w4kpjzj0JdOatuu6TX"> <input
                    type="email" class="form-control" name="email" placeholder="Email Address">
                  <button type="submit" class="subscribe-btn"><i class="las la-envelope"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->



 
  <!-- Call To Action Section Starts -->
 <section class="call-action-all">
			<div class="call-action-all-overlay">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Call To Action Text Starts -->
							<div class="action-text">
								<h2>Get Started Today</h2>
								<p class="lead">Open account for free and start investing</p>
							</div>
							<!-- Call To Action Text Ends -->
							<!-- Call To Action Button Starts -->
                            
							<p class="action-btn"><a class="btn btns-primary" href="{% url 'login-register' %}">Register Now</a></p>
							<!-- Call To Action Button Ends -->
						</div>
					</div>
				</div>
			</div>
        </section>
        <!-- Call To Action Section Ends -->
        
        
        
        
        
        <footer class="footer">
            <!-- Footer Top Area Starts -->
            <img src=" {% static 'main_account/assets/images/logo1.png' %} " style="position:relative;width:130px;margin: 20px;">
            <div class="top-footer" style="margin-top:-40px">
                
                <div class="container">
                    <div class="row">
                        <!-- Footer Widget Starts -->
                        <div class="col-sm-4 col-md-2">
                            
                          <h4>Our Company</h4>
                          <div class="menu">
                              <ul>
                                  <li><a href="{% url 'home' %}">Home</a></li>
                                  <li><a href="{% url 'home-about' %}">About</a></li>
                                  <li><a href="/#plan">Plans</a></li>
                                  <li><a href="{% url 'home-contact' %}">Contact</a></li>
                              </ul>
                          </div>
                      </div>
                      <!-- Footer Widget Ends -->
                      <!-- Footer Widget Starts -->
                      <div class="col-sm-4 col-md-2">
                          <h4>Help &amp; Support</h4>
                          <div class="menu">
                              <ul>
                                  

                                  {% if user.is_authenticated %}
                                  <li><a href="{% url 'home-faq' %}">FAQ</a></li>
                                  {% else %}
                                  <li><a href="{% url 'home-faq' %}">FAQ</a></li>
                                  <li><a href="{% url 'terms' %}">Terms</a></li>
                                  <li><a href="{% url 'login-register' %}">Register</a></li>
                                  <li><a href="{% url 'login-register' %}">Login</a></li>
                                  {% endif %}
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Ends -->
                        <!-- Footer Widget Starts -->
                        <div class="col-sm-4 col-md-3">
                            <h4>Contact Us </h4>
                            <div class="contacts">
                                <div>
                                    <span>contact@zollartrade.com</span>
                                </div>
                
                                <div>
                                    <span>53: 439469, Birmingham District
                                      Birmingham,
                                      United Kingdom</span>
                                </div>
                                <div>
                                    <span>24/7 ⇾ availability</span>
                                </div>
                            </div>
							<!-- Social Media Profiles Starts 
                            <div class="social-footer">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
							Social Media Profiles Ends -->

                        </div>
                        <!-- Footer Widget Ends -->
						<!-- Footer Widget Starts -->
                        <div class="col-sm-12 col-md-5">
							<!-- Facts Starts -->
							<div class="facts-footer">
								<div>
									<h5>$95.76M</h5>
									<span>Market cap</span>
								</div>
								<div>
									<h5>7,350K+</h5>
									<span>daily transactions</span>
								</div>
								<div>
									<h5>8,523K</h5>
									<span>active accounts</span>
								</div>
								<div>
									<h5>127</h5>
									<span>supported countries</span>
								</div>
							</div>
							<!-- Facts Ends -->
							<hr>
							<!-- Supported Payment Cards Logo Starts -->
							<div class="payment-logos">
								<h4 class="payment-title">supported payment methods</h4>
								<img src=" {% static 'main_account/img/btc.png' %} " alt="Bitcoin">
								<img src=" {% static 'main_account/img/usdt.png' %} " alt="USDT">
								<img src=" {% static 'main_account/img/eth.png' %} " alt="Ethereum">
							</div>
							<!-- Supported Payment Cards Logo Ends -->
                        </div>
                        <!-- Footer Widget Ends -->
                    </div>
                </div>
            </div>
            <!-- Footer Top Area Ends -->
            <!-- Footer Bottom Area Starts -->
            <div class="bottom-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" style="font-size:13px">
                            <!-- Copyright Text Starts -->
                            <p class="text-center"> © 2023 Copyright <a href="index-2.html">Zollartrade Investment</a> All Rights Reserved</p>
                            <!-- Copyright Text Ends -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom Area Ends -->
        </footer>




        











        {% endblock content %}
