{% extends 'main_account/home/base.html' %}

{% load static %}

{% block title %}
<title>FAQ - Zollartrade Investment</title>
{% endblock title %}

{% block content %}




    
    <!-- inner hero start -->
    <section class="inner-hero bg_img" data-background=" {% static 'main_account/assets/images/hero.jpg' %} ">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="page-title">Frequently asked questions</h2>
            <ul class="page-breadcrumb">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li>FAQ</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- inner hero end -->
                       
                           
 <section class="pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-header">
            <h2 class="section-title"><span class="font-weight-normal">Frequently Asked</span> <b
                class="base--color">Questions</b></h2>
            <p>We answer some of your Frequently Asked Questions regarding our platform. If you have a query that is not
              answered here, Please contact us.</p>
          </div>
        </div>
      </div><!-- row end -->
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="accordion cmn-accordion" id="accordionExample">
              
              <div class="card">
              <div class="card-header" id="heading5">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <i class="las la-question-circle"></i>
                    <span>IS Zollartrade A REGISTERED COMPANY?</span>
                  </button>
                </h2>
              </div>

              <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                <div class="card-body">
                  Yes, we are a registered company situated at 53: 439469, Birmingham District Birmingham, United Kingdom.</div>
              </div>
            </div>
            
            <div class="card">
              <div class="card-header" id="heading6">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    <i class="las la-question-circle"></i>
                    <span>HOW DOES Zollartrade GENERATE MONEY TO PAY INVESTORS</span>
                  </button>
                </h2>
              </div>

              <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample" style="">
                <div class="card-body">
                  We are a leading cryptocurrency trading company. We invest your money in the crypto market, trade and earn profits for you. In addition, we invest your money into real estate assets which generates good returns. </div>
              </div>
            </div>
            
            <div class="card">
              <div class="card-header" id="heading7">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    <i class="las la-question-circle"></i>
                    <span>WHERE IS YOUR OFFICE LOCATED</span>
                  </button>
                </h2>
              </div>

              <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                <div class="card-body">
                  53: 439469, Birmingham District Birmingham, United Kingdom. </div>
              </div>
            </div>
            
            <div class="card">
              <div class="card-header" id="heading8">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    <i class="las la-question-circle"></i>
                    <span>HOW CAN I BE AN INVESTOR</span>
                  </button>
                </h2>
              </div>

              <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample" style="">
                <div class="card-body">
                  To be an investor, you should first of all register using a valid email address. After that, you have to login to your investors dashboard and make a deposit. </div>
              </div>
            </div>
            
            <div class="card">
              <div class="card-header" id="heading9">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    <i class="las la-question-circle"></i>
                    <span>WHAT ARE YOUR ADVANTAGES?</span>
                  </button>
                </h2>
              </div>

              <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample" style="">
                <div class="card-body">
                  Our investment platform provides you with the most favorable conditions for cooperation, including different investment plans, progressive scale of profitability, low financial risk, convenience and ease of use, and many other benefits that you can really appreciate by investing in our company </div>
              </div>
            </div>
            
            <div class="card">
              <div class="card-header" id="heading10">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    <i class="las la-question-circle"></i>
                    <span>WHAT ARE THE PAYMENT METHODS ACCEPTED?</span>
                  </button>
                </h2>
              </div>

              <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample" style="">
                <div class="card-body">
                  For now, we accept BTC, ETH, USDT, XRP</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading0">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse0" aria-expanded="false" aria-controls="collapse0">
                    <i class="las la-question-circle"></i>
                    <span>When can I deposit/withdraw from my Investment account?</span>
                  </button>
                </h2>
              </div>

              <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordionExample" style="">
                <div class="card-body">
                  Deposit and withdrawal are available at any time. Be sure, that your funds are not used in any ongoing
                  trade before the withdrawal. The available amount is shown in your dashboard on the main page of the
                  Investing platform. </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading1">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    <i class="las la-question-circle"></i>
                    <span>How do I check my account balance?</span>
                  </button>
                </h2>
              </div>

              <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample" style="">
                <div class="card-body">
                  You can see this anytime on your accounts dashboard. </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading2">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    <i class="las la-question-circle"></i>
                    <span>I forgot my password, what should I do?</span>
                  </button>
                </h2>
              </div>

              <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample" style="">
                <div class="card-body">
                  Visit the password reset page, type in your email address or username, and click the `Reset` button. </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading3">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <i class="las la-question-circle"></i>
                    <span>How will I know that the withdrawal has been successful?</span>
                  </button>
                </h2>
              </div>

              <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample" style="">
                <div class="card-body">
                  You will get an automatic notification once we send the funds and you can always check your
                  transactions or account balance. Your chosen payment system dictates how long it will take for the
                  funds to reach you. </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading4">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <i class="las la-question-circle"></i>
                    <span>How much can I withdraw?</span>
                  </button>
                </h2>
              </div>

              <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample" style="">
                <div class="card-body">
                  You can withdraw the full amount of your account balance minus the funds that are used currently for
                  supporting opened positions. </div>
              </div>
            </div>
            
            
          </div>
      
          
        </div>
      </div>
    </div>
  </section> 


    
    
  <section class="pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <div class="cta-wrapper bg_img border-radius--10 text-center"
            data-background=" {% static 'main_account/assets/images/5fce38bab36371607350458.jpg' %} ">
            <h2 class="title mb-3">Get Started Today With Us</h2>
            <p>This is a Revolutionary Money Making Platform! Invest for future in Stable Platform and make good Profits.
              Not only we guarantee the fastest and the most exciting returns on your investments, we also guarantee
              the security of your investment.</p>
            <a href="{% url 'login-register' %}" class="cmn-btn mt-4">Join Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-header">
            <h2 class="section-title"><span class="font-weight-normal">Payment Methods We</span> <b
                class="base--color">Accept</b></h2>
            <p>
                <div class="payment-logos">
                  <img src=" {% static 'main_account/img/btc.png' %} " alt="Bitcoin">
                  <img src=" {% static 'main_account/img/usdt.png' %} " alt="USDT">
                  <img src=" {% static 'main_account/img/eth.png' %} " alt="Ethereum">
							  </div>
            </p>
          </div>
        </div>
      </div><!-- row end -->

    </div>
  </section>
  
  <!--<section class="pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="subscribe-wrapper bg_img"
            data-background="assets/images/5fce3af5a116f1607351029.jpg">
            <div class="row align-items-center">
              <div class="col-lg-5">
                <h2 class="title">Subscribe Our Newsletter</h2>
              </div>
              <div class="col-lg-7 mt-lg-0 mt-4">
                <form class="subscribe-form" method="post"><input type="hidden" name="form_id" value="16716675046240"><input type="hidden" name="form_token" value="e7125145a3f04590c7ec9bcf8d16a92a">
                  <input type="hidden" name="_token" value="hM0LQfbyt9KAXK5f6rZ5o6w4kpjzj0JdOatuu6TX"> <input
                    type="email" class="form-control" name="email" placeholder="Email Address">
                  <button type="submit" class="subscribe-btn"><i class="las la-envelope"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->



 
 
 
  <footer class="footer bg_img" data-background=" {% static 'main_account/assets/images/5fce39681ce6b1607350632.jpg' %} ">
    <div class="footer__top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <a href="index-2.html"><img src=" {% static 'main_account/assets/images/logo1.png' %} " /></a>
            <ul class="footer-short-menu d-flex flex-wrap justify-content-center mt-3">
              
              <li><a href="/#plans">Plans</a></li>
              <li><a href="{% url 'terms' %}">Terms</a></li>
              <li><a href="{% url 'home-about' %}">About</a></li>
              <li><a href="{% url 'home-faq' %}">FAQ</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-md-left text-center" style="font-size:13px">
            <p>
            <p>© 2023 <a href="{% url 'home' %}" class="base--color">Zollartrade Investment</a>. All rights reserved</p>
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section end -->
  </div> <!-- page-wrapper end -->



  {% endblock content %}