<!DOCTYPE html>
    
    <html lang="en">
    <meta charset="utf-8">
      <title>Contact Us | Zollar</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="img/scLogo.jpg">
      <link rel="apple-touch-icon" href="img/Zollar.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="apple-mobile-web-app-title" content="Sujfix">
    
      <meta itemprop="description" content=" Sujfix offers good and flexible investment plans. We are fully engaged in investment activities, which are related to trading on financial markets and cryptocurrency exchanges performed by qualified professional traders. A certified legal investment company incorporated and headquartered in Australia.">
    
      <meta name="keywords" content="trade, trading,Strick, Sujfix, forex, investing, invest, investment, investor, trader, empire, money, chart, bitcoin, ethereum, USDT, coins, cryptocurrencies, crypto, profit, market, online money, money online,">
      <meta itemprop="image" content="https://sujfix.com/img/sujLogo.png">
    
      <meta property="og:type" content="website">
    
      <meta property="og:image" content="https://sujfix.com/img/sujLogo.png" />
      <meta property="og:image:type" content="image/png" />
      <meta property="og:image:width" content="370" />
      <meta property="og:image:height" content="160" />
      <meta property="og:url" content="https://sujfix.com">
      <meta name="author" content="Sujfix"> 
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    
    
            <!-- Bootstrap Css -->
    
            <link href="assets/css/bootstrap.min.css" id="bootstrap-stylesheet" rel="stylesheet" type="text/css" />
    
            <!-- Icons Css -->
    
            <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    
            <!-- App Css-->
    
            <link href="assets/css/app.min.css" id="app-stylesheet" rel="stylesheet" type="text/css" />
    
            <link href="./css/style7eda3860.css" rel="stylesheet">
    
        </head>
    
    
    
        <body>
    
    
        <div class='coversoverlay'>
        <center><img src="./img/Aloader.gif" style="width:60px; margin-top:20%;"></center>
        </div>
    
      <!-- Begin page -->
      <div id="wrapper" style="overflow:auto!important">
    
       
       
       <!-- Topbar Start -->
              
       
       
       
            <div class="navbar-custom" style="background:#2d394a!important; border-bottom: 4px solid!important;">
      
        
          
    
          <!-- LOGO -->
          <div class="logo-box">
            <a href="index-2.html" class="logo logo-dark text-center">
            <img src="./img/logo.png" width="160px" height="50px;" style="margin-top:10px;">
            </a>
          </div>
    
          <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
            <li>
              <button class="button-menu-mobile disable-btn waves-effect">
                <i class="fe-menu" style="color:#fff!important"></i>
              </button>
            </li>
    
            <li>
            <div style="font-size:18px;margin:22px 5px;color:#b4c6d7;font-weight:600;">
            
            <i class='fas fa-phone'></i> Contact Us		
            
            </div>
            </li>
    
    
    
    
    
            <!-- Messages Dropdown Menu -->
          <li class="dropdown" style="position:absolute;right:0;">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-bell" style="font-size:20px;"></i>
              <span class="badge badge-danger navbar-badge">0</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="margin-left:-20px!important;">
              
    
    
                  
              
              
              
              
              
              <center><a href="notification.html" class="dropdown-item">View all notifications &nbsp; &nbsp; 
              <i class="fas fa-caret-right"></i> </a></center>
              <div class="dropdown-divider"></div>
              
              
              
              <a href="profile.html" class="dropdown-item" >
                <div class="media">
            <img src="./img/avatar.png" alt="User Avatar" class="img-size-50 mr-3" 
            style="width:100px; height:100px;border-radius:50%;border:2px solid #d3d6d7">
                  <div class="media-body">
                    
                  <h3 class="dropdown-item-title">
                      Thomas                </h3>
                    <p class="text-sm">Profile information</p>
                    <p class="text-sm text-muted">
                    <i class="far fa-clock mr-1"></i> Registered<br>
                    Friday 10th February, 2023				</p>
                  
                  </div>
                </div>
              </a>
             
              <div class="dropdown-divider"></div>
              <a href="profile.html" class="dropdown-item dropdown-footer">Open your profile <span class="float-right fa fa-caret-right"></span></a>
            </div>
          </li>
    
    
    
    
    
    
    
    
    
    
          </ul>
    
    
        </div>
        
        
        
          
    
        <!-- end Topbar -->
       
       
    
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">
    
          <div class="slimscroll-menu">
    
            <!-- User box -->
            <div class="user-box text-center ">
    
              <div class="dropdown">
                <a href="#" class="user-name dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown" aria-expanded="false"></a>
                <div class="dropdown-menu user-pro-dropdown">
    
    
    
    
                </div>
              </div>
    
    
            </div>
    
            <!--- Sidemenu -->
            
    
    
    <style>
    .metismenu .dropdown-divider{
        border-color:#525e70;
    }
    </style>
    
            <div id="sidebar-menu">
    
              <ul class="metismenu" id="side-menu">
                <center>
                <a href="profile.php">
                <img src="./img/avatar.png" class="avatars"><br>
                <div style="margin:10px auto 20px; font-size:17px; color:#f1f1f1; font-weight:500;">Username</div>
            </a>
          </center>
          <div class="dropdown-divider"></div>

          <li>
            <a href="dashboard.html">
              <i class="fas fa-tachometer-alt"></i>
              <span> Dashboard </span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li class="mm-active">
            <a href="profile.html" class="active">
              <i class="fas fa-user-cog"></i>
              <span> Profile </span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="support.html">
              <i class="fas fa-user-check"></i>
              <span>Support</span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="invest.html">
              <i class="fas fa-dollar-sign"></i>
              <span> Invest </span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="withdrawal.html">
              <i class="fas fa-wallet"></i>
              <span> Withdraw </span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="other_payment.html">
              <i class="fas fa-dollar-sign"></i>
              <span>Other payments </span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="referral_bonus.html">
              <i class="fa fa-user-plus"></i>
              <span>Referral bonus </span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="notification.html">
              <i class="fas fa-bell"></i>
              <span>Notifications </span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="transaction_history.html">
              <i class="fas fa-history"></i>
              <span> Transaction History </span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="change_password.html">
              <i class="fas fa-key"></i>
              <span> Change Password </span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="contact.html">
              <i class="fa fa-phone"></i>
              <span>Contact Us</span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="term.html">
              <i class="fas fa-exclamation"></i>
              <span>Terms &amp; Conditions</span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="index-2.html">
              <i class="far fas fa-home"></i>
              <span> Home </span>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li>
            <a href="logout.html">
              <i class="far fas fa-power-off"></i>
              <span> Log Out </span>
            </a>
          </li>
        </ul>
      </div>
            <!-- End Sidebar -->
            <div class="clearfix"></div>
    
    
    
                    </div>
    
                    <!-- Sidebar -left -->
    
    
    
                </div>
    
                <!-- Left Sidebar End -->
    
    
    
    
    
    
                <div class="content-page" >
    
                    <div class="content" style="width: 100%;color: white;">
    
    
    
                        <!-- Start Content-->
    
                        <div class="container-fluid" >
    
                            <div id="google_translate_element"></div>
    
                             <div class="row">
    
                                <div class="col-md-12" style="padding-left:0px; padding-right:0px">
                                
                            
                            
                    <form class="col-md-7" style="margin-top:20px!important;margin: auto;">
                    
                    <div class="card-box">
                    <h2 align="center" style='color:#767e80' id="wlcm">Contact Us</h2><br>
                    <div class="dropdown-divider"></div>
            
            <section id="suc" class="display-none">
            <div class="success-display">Your message has been recieved <i class="fas fa-check"></i></div>
            <div style="color:#2e657e;font-size:15px; font-weight:bold; cursor:pointer; text-align:center;margin:20px;">
            <i class="fas fa-envelope"></i> We will get back to you</div>
            <p><center>
            <a href="support.html"><div class="btn btn-primary btnss">Chat us with photo upload &nbsp;<i class="fas fa-comments"></i></div></a>
            </center><p>
            <div class="dropdown-divider"></div>
            <div style="text-align:center">
            <a href="dashboard.html" style="color:#2e657e; font-size:16px;"><i class="fas fa-tachometer-alt"></i> Dashboard</a> 
            &nbsp; &nbsp; <a href="../" style="color:#2e657e; font-size:16px;"> <i class="fas fa-home"></i> Back Home</a>
            </div>
            </section>
            
            <div align="center" style="color:#ff3737; margin-left:-20px!important; margin-bottom:30px;font-size:17px;font-weight:500" id="result"></div>
                    
                    <div id="contactForm">
                    
                      <div class="form-group">
                        <label for="username" style="margin-left:10px"><i class="fas fa-user"></i> Username</label>
                        <div class="col-sm-12">
                          <input type="text" name="username" readonly class="form-control" id="username" value="Helen441" placeholder="Enter a username">
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label for="email" style="margin-left:10px"><i class="fas fa-envelope"></i> Email</label>
                        <div class="col-sm-12">
                          <input type="email" name="email" class="form-control" readonly id="email" 
                          value="tomesme66@gmail.com">
                        </div>
                      </div>
                      
                     
                     
                      <br>
                      <div class="form-group">
                        <label for="messages" style="margin-left:10px; color:#396f89"><i class="fas fa-edit"></i> Enter your message</label>
                        <div class="col-sm-12">
                       
                       <textarea name="message" class="form-control" id="messages"  placeholder="Please be descriptive enough"></textarea>
                       <div style="color:#888; margin:10px 0px;font-size:14px">We will get back to you via your inbox <a href="support.html">Here</a> </div>
                        
                        
                        </div>
                      </div>
                     
        
                      <button type="submit" id="contactUs" class="btn btnss btn-block">Send message</button>
                    
                   </div>
                   
                   
                   </div>
                  </form>
    
                       
                               </div>
                                </div> <!-- container-fluid -->
    
    
    
                    </div> <!-- content -->
                    </div> 
                  
                        </div> 
        
                        </div>
                   
    
    
           
    
            <!-- Vendor js -->
    
            <script src="assets/js/vendor.min.js"></script>
    
    
    
            <!-- knob plugin -->
    
            <script src="assets/libs/jquery-knob/jquery.knob.min.js"></script>
    
    
    
            <!--Morris Chart-->
    
            <script src="assets/libs/morris-js/morris.min.js"></script>
    
            <script src="assets/libs/raphael/raphael.min.js"></script>
    
    
    
            <!-- Dashboard init js-->
    
            <script src="assets/js/pages/dashboard.init.js"></script>
    
    
    
            <!-- App js -->
    
            <script src="assets/js/app.min.js"></script>
    
       
       
       
       
       
       
       
       
       
       <script>
       
       $(document).ready(function(){
        
        $('.coversoverlay').hide();
             
     
     
     
     //send message
     
     $("#contactUs").click(function(e){
         e.preventDefault();
         
            let contactUs = "contactUs";
                
            let message = $("#messages").val();
            
    
            $.ajax({
                url:'function.php',
                method:'POST',
                data:{message:message, contactUs:contactUs},
                beforeSend:function(){$(".coversoverlay").show()},
                success:function(data){
                    $("#result").html(data);
                    
                    //console.log(data);
                    $(".coversoverlay").hide();
                    
                }
            });
            
            });
        
     
     
     
         
       });
       
       
       
       
       </script>
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
        </body>
    
    </html>