

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
  <title>Terms & Conditions | Sujfix</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="img/scLogo.jpg">
  <link rel="apple-touch-icon" href="img/Zollar.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Sujfix">

  <meta itemprop="description" content=" Sujfix offers good and flexible investment plans. We are fully engaged in investment activities, which are related to trading on financial markets and cryptocurrency exchanges performed by qualified professional traders. A certified legal investment company incorporated and headquartered in Australia.">

  <meta name="keywords" content="trade, trading,Strick, Sujfix, forex, investing, invest, investment, investor, trader, empire, money, chart, bitcoin, ethereum, USDT, coins, cryptocurrencies, crypto, profit, market, online money, money online,">
  <meta itemprop="image" content="https://sujfix.com/img/sujLogo.png">

  <meta property="og:type" content="website">

  <meta property="og:image" content="https://sujfix.com/img/sujLogo.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="370" />
  <meta property="og:image:height" content="160" />
  <meta property="og:url" content="https://sujfix.com">
  <meta name="author" content="Sujfix"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        

        <!-- Bootstrap Css -->
        <link href="assets/css/bootstrap.min.css" id="bootstrap-stylesheet" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="assets/css/app.min.css" id="app-stylesheet" rel="stylesheet" type="text/css" />

    </head>


    <body class="authentication-bg" style="font-size:16px;">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="text-center">
                           
                        </div>
                        <div class="card">

                            <div class="card-body p-4">
                                
                                <div class="text-center mb-4">
                                    <h4 class="text-uppercase mt-0">Terms And Conditions</h4>
                                </div>

                               <span style="font-weight: bold;font-size: 20px;">Risk Notice</span>
Bitcoin is a not backed or value guaranteed by any financial institution; when purchasing bitcoins the customer assumes all risk the bitcoins may become worthless in value. Customers should research and consider the risks before purchasing any bitcoins. The company makes absolutely no guarantee about the future value of the bitcoins purchased.</br></br>

 <span style="font-weight: bold;font-size: 20px;margin-top: 30px;">Severability</span>
In the event any court shall declare any section or sections of this Agreement invalid or void, such declaration shall not invalidate the entire Agreement and all other paragraphs of the Agreement shall remain in full force and effect.</br></br>

<span style="font-weight: bold;font-size: 20px;margin-top: 30px;">Customer input errors</span>
It is the sole responsibility of the customer to check the accuracy of information entered and saved on the website. Account details displayed on the order summary webpage will be the final transfer destination. In the case that this information is incorrect, and funds are transferred to an unintended destination, the company shall not reimburse the customer and shall not transfer additional funds. As such customers must ensure the Bitcoin address and bank information they enter is completely correct.</br></br>

<span style="font-weight: bold;font-size: 20px;margin-top: 30px;">Binding Agreement</span>
The terms and provisions of this Agreement are binding upon Your heirs, successors, assigns, and other representatives. This Agreement may be executed in counterparts, each of which shall be considered to be an original, but both of which constitute the same Agreement.</br></br>

<span style="font-weight: bold;font-size: 20px;margin-top: 30px;">Expired orders</span>
If the company receives payment for an order that has already expired, the company reserves the right to recalculate the Bitcoin to Thai Baht exchange rate at the time of processing the transfer to the customer. This may result in the customer receiving less bitcoins or Thai Baht than the original ordered amount.</br></br>

<span style="font-weight: bold;font-size: 20px;margin-top: 30px;">Choice of Law</span>
This Agreement, and its application and interpretation, shall be governed exclusively by the laws of the State of Georgia, without regard to its conflict of law rules. You consent to the exclusive jurisdiction of the federal and state courts located in or near Atlanta, Georgia for any dispute arising under this Agreement.</br></br>

<span style="font-weight: bold;font-size: 20px;margin-top: 30px;">Security</span>
We have implemented security measures designed to secure your information from accidental loss and from unauthorized access, use, alteration or disclosure. However, we cannot guarantee that unauthorized persons will never gain access to your information, and you acknowledge that you provide your information at your own risk, except as otherwise provided by applicable law.</br>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                
                                <p class="text-muted">Done Reading? <a href="account.html" class="text-dark ml-1"><b>Go Back To Dashboard</b></a></p>
                                <p><a href="index-2.html" class="text-dark ml-1"><b>Home</b></b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->
    

        <!-- Vendor js -->
        <script src="assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="assets/js/app.min.js"></script>
        
    </body>

</html>