{% load static %}

<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

<meta charset="utf-8">
  <title>Register - Login | Zollar</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="img/scLogo.jpg">
  <link rel="apple-touch-icon" href="img/Zollar.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Zollar | Home">

  <meta itemprop="description" content=" Zollar offers good and flexible investment plans. We are fully engaged in investment activities, which are related to trading on financial markets and cryptocurrency exchanges performed by qualified professional traders. A certified legal investment company incorporated and headquartered in Australia.">

  <meta name="keywords" content="trade, trading,Strick, Zollar, forex, investing, invest, investment, investor, trader, empire, money, chart, bitcoin, ethereum, USDT, coins, cryptocurrencies, crypto, profit, market, online money, money online,">
  <meta itemprop="image" content="img/Zollar.png">

  <meta property="og:type" content="website">

  <meta property="og:image" content="img/Zollar.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="370" />
  <meta property="og:image:height" content="160" />
  <meta property="og:url" content="index.html">
  <meta name="author" content="Zollar"> 
   
	
<link rel="stylesheet" type="text/css" href="{% static 'user/css/login.css' %}">

</head>

<style>
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:relative;
	transform:rotateY(0deg);
}
</style>

      <body>
        <!-- WEBSITE BODY -->


		

    <div class="login-wrap">
	<div class="login-html">
		

		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">
			Reset Password</label>
	
		
		<div class="login-form"><p>
		

		<!-- LOGIN -->
			<div class="sign-in-htm">

				<!-- errors | result -->
				<div id="Logresult"></div>
				<div id="Loginerrs" style="margin:5px auto"></div>


				
	<!-- Success -->
	<div class="" id="successCon" style="text-align:center">


  	<div style='font-weight:500;color:#77ffba;margin:7px 0px 30px; font-size:15px;'>
		
If we found an eligible account associated with that email, we've sent password reset instructions to reset your password.
	
		<div id="mail"></div></div>

    <div class="foot-lnk">
      <a href="{% url 'login-register' %}">Login</a> &nbsp;&nbsp;
      <a href="{% url 'home' %}"> Back Home</a>
      </div>




				




		</div>
	</div>
</div>
    






<script>




</script>




  
</body>
</html>
